{% extends "admin/change_list.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load humanize %}
{% block object-tools %}
	<!--NOT A PART OF OBJECT TOOLS. JUST USING THE BLOCK-->
	<style>
	tr:nth-child(even) {
    background-color: #eee
}
	</style>
{% endblock %}
{% block content_title %}
    <h1> Summary Of Inventory In Departments </h1>
{% endblock %}
{% block graph-tools %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" defer="defer"></script>
	<div id="graphResults">
		<H2>Graph</H2>
		<button id="closeChart" onclick="hideCanvas()" style="display:none">Close chart</button>
		<button id="activateChart" onclick="renderCanvas()" style="margin-bottom: 20px">Render Bar Chart</button>
		<canvas style="display:none" id="summaryBarChart">
		</canvas>
	</div>
{% endblock %}
{% block result_list %}

    <div class="results" style="width:80%" onload="displayRenderGraphButton()">

		<H2>Results</H2>
		<table id="graphResultsTable">
			<thead>
			  <tr>
				<th class="sortable column-department" scope="col">
					<div class="sortoptions">
						<a title="Remove from sorting" class="sortremove" href="?o="></a>
						<a title="Present sort" class="toggle"></a>
					</div>
					<div class="text">
						<a onclick="sortTable(0)">Department</a>
					</div>
				</th>
				<th class="sortable column-device" scope="col">
					<div class="sortoptions">
						<a title="Remove from sorting" class="sortremove" href="?o="></a>
						<a title="Present sort" class="toggle"></a>
					</div>
					<div class="text">
						<a onclick="sortTable(1)">Device</a>
					</div>
				</th>
				<th class="sortable column-total" scope="col">
					<div class="sortoptions">
						<a title="Remove from sorting" class="sortremove" href="?o="></a>
						<a title="Present sort" class="toggle"></a>
					</div>
					<div class="text">
						<a onclick="sortTable(2)">Total</a>
					</div>
				</th>
			  </tr>
			</thead>
			<tbody>
			  {% for row in summary %}
			  <tr class="{{ row.department }}_{{ row.device }}">
				<td class="{{ row.department }}"> <a href="{%url 'admin:inventoryManagement_record_changelist' %}?department={{ row.department }}"> {{ row.department }} </a></td>
				<td class="{{ row.device }}"> <a href="{%url 'admin:inventoryManagement_record_changelist' %}?department={{ row.department }}&device__exact={{ row.device }}"> {{ row.device }} </a> </td>
				<td> {{ row.total | intcomma }} </td>
			  </tr>
			  {% endfor %}
			</tbody>
		
		</table>
	</div>
	<script type="text/javascript" src="{% static 'js/SortChart.min.js' %}" defer="defer"></script>
{% endblock %}
{% block pagination %}{% endblock %}
