{% extends "admin/change_list.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load humanize %}
{% block object-tools %}{% endblock %}
{% block content_title %}
    <h1> Summary Of Inventory In Departments </h1>
{% endblock %}
{% block graph-tools %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" defer="defer"></script>
	<div id="graphResults">
		<H2>Graph</H2>
		<button id="closeChart" onclick="hideCanvas()" style="display:none">Close chart</button>
		<button id="activateChart" onclick="renderCanvas()" style="margin-bottom: 20px">Render Bar Chart</button>
		<canvas style="display:none" id="summaryBarChart">
		</canvas>
	</div>
{% endblock %}
{% block result_list %}

    <div class=”results” style="width:80%" onload="displayRenderGraphButton()">

		<H2>Results</H2>
		<table>
			<thead>
			  <tr>
				<th>
				  <div class=”text”>
					<a href=”#”>Department</a>
				  </div>
				</th>
				<th>
				  <div class=”text”>
					<a href=”#”>Device</a>
				  </div>
				</th>
				<th>
				  <div class=”text”>
					<a href=”#”>Total</a>
				  </div>
				</th>
			  </tr>
			</thead>
			<tbody>
			  {% for row in summary %}
			  <tr class="{% cycle 'row1' 'row2' %}">
				<td> <a href="{%url 'admin:inventoryManagement_record_changelist' %}?department={{ row.department }}"> {{ row.department }} </a></td>
				<td> <a href="{%url 'admin:inventoryManagement_record_changelist' %}?department={{ row.department }}&device__exact={{ row.device }}"> {{ row.device }} </a> </td>
				<td> {{ row.total | intcomma }} </td>
			  </tr>
			  {% endfor %}
			</tbody>
		
		</table>
	</div>
	<script type="text/javascript" src="{% static 'js/chartFile.min.js' %}" defer="defer"></script>
{% endblock %}
{% block pagination %}{% endblock %}
