{% extends "admin/change_list.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load humanize %}
{% block object-tools %}
	<!--NOT A PART OF OBJECT TOOLS. JUST USING THE BLOCK-->
	<style>
	tr:nth-child(even) {
    background-color: #eee
}
	</style>
{% endblock %}
{% block content_title %}
    <h1> Summary Of Inventory In Departments </h1>
{% endblock %}
{% block graph-tools %}
<style>
	.graphButtons
	{
		background: rgb(153, 153, 153);
		padding: 6px 12px;
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		letter-spacing: 0.5px;
		font-size: 11px;
		margin-bottom: 20px;
		display: block;
		border-radius: 15px;
		border: none;
		cursor: pointer;
	}
</style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" defer="defer"></script>
	<div id="graphResults">
		<H2>Graph</H2>
		<button class="graphButtons" id="closeChart" onclick="hideCanvas()" style="display:none">Close chart</button>
		<button class="graphButtons" id="activateChart" onclick="renderCanvas()" style="margin-bottom: 20px">Render Bar Chart</button>
		<canvas style="display:none" id="summaryBarChart">
		</canvas>
	</div>
{% endblock %}
{% block result_list %}

    <div class="results" onload="displayRenderGraphButton()">

		<H2 style="font-size:14px;text-transform:uppercase">Results</H2>
		<table id="graphResultsTable">
			<thead>
			  <tr>
				<th class="sortable column-department" scope="col">
					<div class="sortoptions">
						<a title="Remove from sorting" class="sortremove" href="?o="></a>
						<a title="Present sort" class="toggle"></a>
					</div>
					<div class="text">
						<a onclick="sortTable(0)">Department</a>
					</div>
				</th>
				<th class="sortable column-device" scope="col">
					<div class="sortoptions">
						<a title="Remove from sorting" class="sortremove" href="?o="></a>
						<a title="Present sort" class="toggle"></a>
					</div>
					<div class="text">
						<a onclick="sortTable(1)">Device</a>
					</div>
				</th>
				<th class="sortable column-total" scope="col">
					<div class="sortoptions">
						<a title="Remove from sorting" class="sortremove" href="?o="></a>
						<a title="Present sort" class="toggle"></a>
					</div>
					<div class="text">
						<a onclick="sortTable(2)">Total</a>
					</div>
				</th>
			  </tr>
			</thead>
			<tbody>
			  {% for row in summary %}
			  <tr class="{{ row.department }}_{{ row.device }}">
				<td class="{{ row.department }}"> <a href="{%url 'admin:inventoryManagement_record_changelist' %}?department={{ row.department|iriencode }}">{{ row.department }}</a></td>
				<td class="{{ row.device }}"> <a href="{%url 'admin:inventoryManagement_record_changelist' %}?department={{ row.department|iriencode }}&device__exact={{ row.device|iriencode }}">{{ row.device }}</a> </td>
				<td>{{ row.total | intcomma }}</td>
			  </tr>
			  {% endfor %}
			</tbody>
		
		</table>
	</div>
	<script type="text/javascript" src="{% static 'js/SortChart.min.js' %}" defer="defer"></script>
{% endblock %}
{% block pagination %}{% endblock %}
